.selector-for-some-widget {
    box-sizing: content-box;
  }

.bgColor {
  background-color: #3d3d3db8;
}

.homeBgColor {
  background:linear-gradient(white, #3d3d3db8);
}

#navTitle {
    color: white;
  }

  #hamburgerBtn {
    background-color:white;
  }

.navbar{
  background-color: #3496b6;
}

.bg {
  background-color:lightgrey;
}

.bi {
  color: rgba(239, 0, 0, 0.937);
}

.trash{
  border: none;
  background: transparent;
}

.homepageBgColor {
  background-color: #81b29a;
}

#employeeTable {
  border: 3px solid black;
}

.footerBg{
background-color: #f4f1de;}

/* css for splash page */

.splashNav {
 background-color:white;
}

.splashMain {
  background-color: #f4f1de;
}

.splashBg {
  background-color: #495057;
}

#splashSignin {
  margin: 1px;
}

.footerLogo {
  width: 100%;
}

/* variables for landing page */
.landingDes {
  font-family: sans-serif;
  font-size: 19px;
  font-style: italic;
  font-weight: bold;
}

.pricePage {
  margin: 1rem;
  text-align: center;
  /* border-top: 4px solid white; */
  padding: 2rem 0;
  /* border-bottom: 4px solid white; */
  background-color: rgba(220, 220, 220, 0.887);
}